<h2 mat-dialog-title>Add new Expense:</h2>
<form #form="ngForm" (ngSubmit)="addExpense(form)">
  <mat-dialog-content >
    <br/>
    <mat-form-field>
      <mat-label>Expense Name: </mat-label>
      <input required matInput [(ngModel)]="data.name" placeholder="Enter expense name" name="name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Expense Type</mat-label>
      <input required matInput [(ngModel)]="data.type" placeholder="Enter expense type" name="type">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Expense Price</mat-label>
      <input required matInput [(ngModel)]="data.price" placeholder="Enter expense price" name="price">
    </mat-form-field>
  </mat-dialog-content>
  <br/>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial type="submit" [disabled]="!form.valid">Add expense</button>
  </mat-dialog-actions>
</form>